@use 'styles/variables' as *;

body {
    margin: 0;
    font-family: $font-family;
    background: $main-gradient;
    color: $text-color;
    min-height: 100vh;
    background-attachment: fixed;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}