@use 'styles/variables' as *;

body {
    margin: 0;
    font-family: $font-family;
    background-color: $background-color;
    color: $text-color;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}